
    /* title */

    .title-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100px;
        
    }

    .title {
        font-size: 30px;
        font-weight: bold;
    }

    /* card list */

    .card-item {
        margin-bottom: 2rem;
        
    }

    .card-image{
        border-radius: 10%;
        height: 0;
        padding-bottom: 60%;
        background-color: lightgrey;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        
    }
    
    .background-opacity {
        display: flex;
        position: absolute;
        border-radius: 10%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        justify-content: center;
        align-items: center;
    }

    .card-title {
        color: whitesmoke;
        font-size: 1.4rem;
        text-shadow: 10px 10px 16px rgba(0,0,0,0.9);
        text-align: center;
        font-weight: bold;
        margin: 0 20%;
    }

    .card-image img{
        display: none;
    }

    @media (min-width:600px) {
        .card-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
            
        }
        .card-item {
            width: 50%;
            padding: 0 1rem;
        }

        
    }

    @media (min-width: 1200px) {
        .card-item {
            width:33%;
        }

        .editor-list-page {
            padding: 0 100px;
        }
    }