<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">
	<resultMap type="SearchRestaurant" id="searchrestaurantResultSet">
		<id property="rNo" column="R_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="rTel" column="R_TEL"/>
		<result property="rType" column="R_TYPE"/>
		<result property="rName" column="R_NAME"/>
		<result property="rAddress" column="R_ADDRESS"/>
		<result property="rOAddress" column="R_O_ADDRESS"/>
		<result property="rTag" column="R_TAG"/>
		<result property="rPrice" column="R_PRICE"/>
		<result property="rParking" column="R_PARKING"/>
		<result property="rStartTime" column="R_START_TIME"/>
		<result property="rEndTime" column="R_END_TIME"/>
		<result property="rRating" column="R_RATING"/>
		<result property="rIntro" column="R_INTRO"/>
		<result property="resveYn" column="RESVE_YN"/>
		<result property="rRestDay" column="R_REST_DAY"/>
		<result property="rConfm" column="R_CONFM"/>
		<result property="rStatus" column="R_STATUS"/>
		<result property="rCount" column="R_COUNT"/>
		<collection property="plist" resultMap="searchphotofileResultSet" javaType="java.util.ArrayList"></collection>
	</resultMap>
	
	<resultMap type="SearchPhotofile" id="searchphotofileResultSet">
		<id property="photofileId" column="R_PHOTO_FILE_ID"/>
		<result property="rNo" column="R_NO"/>
		<result property="originFileName" column="ORIGIN_FILE_NM"/>
		<result property="streFileName" column="STRE_FILE_NM"/>
		<result property="imgType" column="IMG_TYPE"/>
	</resultMap>
	
 	<resultMap type="AdvrtsMgt" id="AdvrtsMgtResultSet">
		<id property="bnrNo" column="BNR_NO"/>
		<result property="bnrNm" column="BNR_NM"/>
		<result property="bnrCategory" column="BNR_CATEGORY"/>
		<result property="bnrNote" column="BNR_NOTE"/>
		<result property="bnrUrl" column="BNR_URL"/>
		<result property="bnrOn" column="BNR_ON"/>
		<result property="bnrStatus" column="BNR_STATUS"/>
		<result property="bnrDate" column="BNR_DATE"/>
		<result property="bnrDelDate" column="BNR_DEL_DATE"/>
		
		<result property="bnrOFile" column="BNR_O_FILE"/>
		<result property="bnrRFile" column="BNR_R_FILE"/>
	</resultMap>
	
	
	<select id="scoreList" resultMap="searchrestaurantResultSet">
		SELECT *
		FROM TB_RSTRNT_INFO
		JOIN TB_PHOTOFILES USING(R_NO)
       	<![CDATA[ WHERE ROWNUM <= 12 ]]>
        ORDER BY R_RATING DESC
	</select>
	
	
	<select id="hotviewList" resultMap="searchrestaurantResultSet">
		SELECT *
		FROM TB_RSTRNT_INFO
		JOIN TB_PHOTOFILES USING(R_NO)
        ORDER BY R_COUNT DESC
	</select>
	
	<select id="cafeList" resultMap="searchrestaurantResultSet">
        SELECT *
        FROM(
			SELECT *
		FROM TB_RSTRNT_INFO
		JOIN TB_PHOTOFILES USING(R_NO)
		WHERE R_TYPE = '카페'
		AND IMG_TYPE = 1
        ORDER BY DBMS_RANDOM.VALUE)
       	<![CDATA[ WHERE ROWNUM <= 3 ]]>
	</select>
	
	<select id="italianList" resultMap="searchrestaurantResultSet">
	SELECT *
        FROM(
			SELECT *
		FROM TB_RSTRNT_INFO
		JOIN TB_PHOTOFILES USING(R_NO)
		WHERE R_TYPE = '양식' 
		AND IMG_TYPE = 1
        ORDER BY DBMS_RANDOM.VALUE)
       	<![CDATA[ WHERE ROWNUM <= 3 ]]>		
	</select>
	
	<select id="advList" resultMap="AdvrtsMgtResultSet">
        SELECT *
		FROM TB_BANNER
        JOIN TB_BANNER_FILE USING(BNR_NO)
        WHERE BNR_ON = 'Y'
	</select>
	

    	<select id="pubList" resultMap="searchrestaurantResultSet">
		SELECT *
        FROM(
			SELECT *
		FROM TB_RSTRNT_INFO
		JOIN TB_PHOTOFILES USING(R_NO)
		WHERE R_TYPE = '술집'
		AND IMG_TYPE = 1
        ORDER BY DBMS_RANDOM.VALUE)
       	<![CDATA[ WHERE ROWNUM <= 4 ]]>		
	</select>


	
</mapper>
 