<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>		
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Restaurant" alias="Restaurant"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Photofile" alias="Photofile"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.RstrntMenu" alias="RstrntMenu"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.ReviewCount" alias="ReviewCount"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.ReviewImg" alias="ReviewImg"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.InsertReviewImg" alias="InsertReviewImg"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.UpdateReviewImg" alias="UpdateReviewImg"/>
		
		<!-- MY PAGE -->
		<!-- <typeAlias type="com.kh.honeypoint.mypage.member.model.vo.Member" alias="Membermp"/> -->
		<typeAlias type="com.kh.honeypoint.mypage.member.model.vo.ReservePay" alias="ReservePay"/>
		
		<typeAlias type="com.kh.honeypoint.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.GnrlMember" alias="GnrlMember"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.Restaurant" alias="Restaurant2"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.InsertResImg" alias="InsertResImg"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.Menu" alias="Menu"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.Photofile" alias="Photofile2"/>
		
		
		<!-- ADMIN COMMON -->
		<typeAlias type="com.kh.honeypoint.admin.main.model.vo.MainMgt" alias="MainMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.common.Search" alias="Search"/>
		<typeAlias type="com.kh.honeypoint.admin.common.SearchPaging" alias="SearchPaging"/>
		
		<typeAlias type="com.kh.honeypoint.admin.Inqry.model.vo.InqryMgt" alias="InqryMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.Advrts.model.vo.AdvrtsMgt" alias="AdvrtsMgt"/>
		
		<!-- ADMIN MEMBER -->
		<typeAlias type="com.kh.honeypoint.admin.member.model.vo.MemberMgt" alias="MemberMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.rstrnt.model.vo.RstrntMgt" alias="RstrntMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.reportMgt.model.vo.Report" alias="ReportMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.manager.model.vo.Manager" alias="Manager"/>
		
		<!-- SEARCH -->
		<typeAlias type="com.kh.honeypoint.search.model.vo.Restaurant" alias="SearchRestaurant"/>
		<typeAlias type="com.kh.honeypoint.search.model.vo.Photofile" alias="SearchPhotofile"/>
		<typeAlias type="com.kh.honeypoint.search.model.vo.Search" alias="SearchKeyword"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/restaurant-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/membermp-mapper.xml"/>		
		
		<!-- ADMIN -->
		<mapper resource="mappers/admin/mainMgt-mapper.xml"/>
		<mapper resource="mappers/admin/advrts-mapper.xml"/>
		<mapper resource="mappers/admin/inqry-mapper.xml"/>
		<mapper resource="mappers/admin/manager-mapper.xml"/>
		<mapper resource="mappers/admin/member-mapper.xml"/>
		<mapper resource="mappers/admin/report-mapper.xml"/>
		<mapper resource="mappers/admin/rstrnt-mapper.xml"/>
		
		<!-- SEARCH -->
		<mapper resource="mappers/searchrestaurant-mapper.xml"/>
		
		
	
	</mappers>
</configuration>
