<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>		
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Restaurant" alias="Restaurant"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Photofile" alias="Photofile"/>
		<typeAlias type="com.kh.honeypoint.restaurant.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.honeypoint.member.model.vo.Member" alias="Member"/>
		
		
		
		<!-- ADMIN -->
		
		<!-- ADMIN MEMBER -->
		<typeAlias type="com.kh.honeypoint.admin.member.model.vo.MemberMgt" alias="MemberMgt"/>
		<typeAlias type="com.kh.honeypoint.admin.member.model.vo.Search" alias="Search"/>
		<!-- ADMIN REPORT -->
		<typeAlias type="com.kh.honeypoint.admin.reportMgt.model.vo.Report" alias="ReportMgt"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/restaurant-mapper.xml"/>
		
		<!-- ADMIN -->
		<mapper resource="mappers/admin/advrts-mapper.xml"/>
		<mapper resource="mappers/admin/inqury-mapper.xml"/>
		<mapper resource="mappers/admin/manager-mapper.xml"/>
		<mapper resource="mappers/admin/member-mapper.xml"/>
		<mapper resource="mappers/admin/report-mapper.xml"/>
		<mapper resource="mappers/admin/rstrnt-mapper.xml"/>
	</mappers>
</configuration>