@charset "utf-8";
body {
            box-sizing: border-box;
            margin: auto;
        }

        .list-photo-wrap {
            /* border: 1px solid red; */
            height: 300px;
            background-color: white;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            justify-content: center;
        }

        .photo-wrap {
            float: left;
            margin: 0;
            width: 300px;
            height: 100%;

        }

        .photo-centered {
            margin: 0;
            float: left;
            width: 97%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }

        .photo-wrap .photo-centered .photo {
            position: absolute;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            width: 300px;
            height: 300px;


            
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
        }

        .cnt:before {
            content: '';
            display: inline-block;
            margin: -4px 4px 0 0;
            vertical-align: middle;
        }

        .hit:before {
            background-image: url(https://mp-seoul-image-develop-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80);
            background-position: -974px -817px;
            width: 19px;
            height: 13px;
        }

        .review:before {
            background-image: url(https://mp-seoul-image-develop-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80);
            background-position: -800px -648px;
            width: 12px;
            height: 13px;
        }

        .favorite:before {
            background-image: url(https://mp-seoul-image-develop-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80);
            background-position: -828px -774px;
            width: 14px;
            height: 13px;
        }

        .title_wrap {
            display: flex;
        }

        .action_button_wrap {
            display: flex;
            margin-left: auto;
        }

        .review_writing_button {
            display: flex;
            flex-direction: column;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            margin: 0 19px 0 0;
        }

        button {
            appearance: none;
            cursor: pointer;
            border: 0px;
            border-radius: 0;
            background-color: transparent;
        }

        .review_writing_button_icon {
            display: block;
            width: 32px;
            height: 32px;
            background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/web/resources/review_writing_icon.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto;
        }

        .review_writing_button_text {
            margin-top: 12px;
            font-size: 0.8rem;
            line-height: 1.3;
            color: #9B9B9B;
        }

        .info th {
            width: 110px;
            font-size: .9rem;
            color: rgba(79, 79, 79, 0.6);
            line-height: 1.7;
            text-align: left;
            vertical-align: top;
            padding-right: 10px;
            padding-bottom: 5px;

        }

        ol,
        ul,
        ul li {
            list-style: none;
        }

        .Restaurant_MenuItem {
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 4px;
            display: flex;

        }

        .Restaurant_Menu {
            flex: 1;
            display: inline-block;
            margin-right: 30px;
            white-space: normal;
        }

        .Restaurant_MenuPrice {
            margin-left: auto;
        }

        .restaurant-detail {
            border-bottom: 1px solid rgb(194, 194, 194);
        }

        /* ���丮��Ʈ style */

        .RestaurantReviewList{
            /* border: 1px solid red; */
        }

		.RestaurantReviewItem{
			border-bottom: 1px solid rgb(194, 194, 194);
			box-sizing: border-box;
            /* border: 1px solid red; */
            display: flex;
            width:100%;
            padding-top: 25px;
            padding-bottom: 25px;
		}

        .RestaurantReviewList_Header{
            /* border: 1px solid blue; */
            display: flex;
            width: 100%;
            height: 50px;
            
        }

        .RestaurantReviewList_FilterList{
            display: flex;
            margin-left: auto;
            font-size: 15px;
        }

        .RestaurantReviewList_FilterItem:after{
            content: '|';
            font-size: 22px;
            margin: 0 7px;
            color: #9b9b9b;
        }

        .RestaurantReviewList_FilterItem:last-child:after {
            
            content: '　';
        }

        .RestaurantReviewList_FilterButton{
            font-size: 18px;
        }

        /* ���� ���� body �κ� */

        .RestaurantReviewList_ReviewItem{
            
        }

        .RestaurantReviewItem_User{
/*             border: 1px solid red; */
            width:10%;
            height:100%;
            margin: 15px 35px 0 8px;
            flex-direction: column;
            text-align: center;
            

        }

        .RestaurantReviewItem_UserPictureWrap{
            width:100px;
            height:100px;
            margin: auto;        
        
        }

        .RestaurantReviewItem_UserPicture{
            width:100%;
            height:100%;
            border-radius: 50%;
        }
        
        .RestaurantReviewItem_ButtonWrap{
        	display: flex;
        	justify-content: space-around;
        }
        
        .RestaurantReviewItem_Button{
        	border: 1px solid black;
        	border-radius: 10%;
        }
        

        .RestaurantReviewItem_Content{
            /* border: 1px solid red; */
            width:85%;
            height:100%;
        }

        .RestaurantReviewItem__ReviewTextWrap{
            color: black;
            margin-bottom: 10px;
        }

        /* 리뷰 사진 css */

        .RestaurantReviewItem__PictureList{
            display: flex;
            height: 120px;

        }

        .RestaurantReviewItem__PictureItem{
            margin-right: 1em;
        }

        .RestaurantReviewItem__PictureButton{
            position: relative;
            padding: 0;
            margin: 0;
            height: 120px;
        }

        .RestaurantReviewItem__PictureButton img{
            width: 120px;
            height: 120px;
            object-fit: cover;
            
            background-color: #E9E9E9;
            background-size: cover;
        }

        .RestaurantReviewItem__PictureDeem{
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            -moz-justify-content: center;
            justify-content: center;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 21px;
            color: #FFFFFF;
            background-color: rgba(0,0,0,0.6);
        }
        
        .RestaurantReviewItem_RecommendIconWrap{
            /* border: 1px solid red; */
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: right;
            width:10%;
            height:100%;
        }

        

        .RestaurantReviewItem_RecommendIcon {
            margin-right: 2px;
            background-image: url(https://mp-seoul-image-develop-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80);
            background-position: -564px -866px;
            width: 44px;
            height: 44px;
        }

        .RestaurantReviewItem_RatingText {
            color: #ff7100;
        }
