::placeholder {
    color: #CBCBCB;
}

.insertReviewPage {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.pageWrapper {
    width:50%;
    padding-top: 50px;
}

.ReviewWritingPage_Container {
    position: relative;
    margin-bottom: 30px;
}

.i-review-title{

    /* border: 1px solid red; */
    width:100%;
    margin:auto;
    font-size: 24px;
    margin-bottom: 10px;
    color:rgba(85, 85, 85, 0.856);
}

.i-review-content {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 16px;

    background-color: white;
}



.RestaurantRecommendPicker_list {
    display: flex;
    flex-direction: row;
}

.RestaurantRecommendPicker_button {
    display: flex;
    
    
}

.RestaurantRecommendPicker_image {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    background-size: cover;
}

/* .RestaurantRecommendPicker_image_recommend {
    background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/web/resources/restaurant_recommend_face.svg);
} */

.RestaurantRecommendPicker_likeLabel {
    display: block;
    font-size: 14px;
    color: #CBCBCB;
    margin-top: 8px;
}

.ReviewEditor_Editor{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 150px;
    border: 0;
    font-size: 16px;
    color: #000000;
    resize: none;
    outline: none;
}

.ReviewEditor__TextLengthStateBox {
    transform: translateY(100%);
    position: absolute;
    /* bottom: -4px; 메뉴바 푸터 넣기전 */
    bottom: -30px;
    right: 0;
    font-size: 12px;
    line-height: normal;
    color: #7F7F7F;
}

.draggable_image_wrapper {
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    
}

.draggable_image_wrapper_pictureList {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
}

.draggable_image_wrapper_pictureItem {
    
    /* position: absolute;
    left: 0px;
    top: 0px; */

    margin-right: 9px;
    margin-bottom: 9px;
}

.draggable_image_wrapper_lastPictureItem {
    position: relative;
}

.Review_ImageCountStateBox {
    position: absolute;
    /* top: 90px;  메뉴바 푸터 넣기전*/
    top: 60px;
    left: 52px;
    font-size: 12px;
    line-height: normal;
    color: #7F7F7F;
    width: 50px;
}


.draggable_image_wrapper_pictureItem_hover {
    position: relative;
    width: 89px;
    height: 89px;
    cursor: pointer;
}

.draggable_image_wrapper_pictureItem_hover_close {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    
}

.draggable_image_wrapper_pictureButton {
    width: 89px;
    height: 89px;
    line-height: 89px;
    text-align: center;
    border: 1px dashed rgb(202, 202, 202);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable_image_wrapper_pictureItem_images {
    position: absolute;
    width: 89px;
    height: 89px;
    
    line-height: 89px;
    text-align: center;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.draggable_image_wrapper_plus {
    width: 27px;
    height: 27px;
    background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/web/resources/plus_icon.svg);
    background-size: cover;
}

.control-buttons {
    float: right;
    margin-top: 10px;
    margin-bottom: 50px;
}

button:focus {
    outline: none;
    
}