<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="advrtsMapper">
	<resultMap type="AdvrtsMgt" id="AdvrtsMgtResultSet">
		<id property="bnrNo" column="BNR_NO"/>
		<result property="bnrNm" column="BNR_NM"/>
		<result property="bnrCategory" column="BNR_CATEGORY"/>
		<result property="bnrNote" column="BNR_NOTE"/>
		<result property="bnrUrl" column="BNR_URL"/>
		<result property="bnrOn" column="BNR_ON"/>
		<result property="bnrStatus" column="BNR_STATUS"/>
		<result property="bnrDate" column="BNR_DATE"/>
		<result property="bnrDelDate" column="BNR_DEL_DATE"/>
		
		<result property="bnrOFile" column="BNR_O_FILE"/>
		<result property="bnrRFile" column="BNR_R_FILE"/>
	</resultMap>
	
	<select id="advrtsListCount" parameterType="int" resultType="String">
		SELECT COUNT(*)
		FROM TB_BANNER
		WHERE BNR_STATUS = 'Y'
	</select>
	
	<select id="advrtsList" resultMap="AdvrtsMgtResultSet">
		SELECT BNR_NO, BNR_NM, BNR_NOTE, BNR_DATE
		FROM TB_BANNER
		WHERE BNR_STATUS = 'Y'
		ORDER BY BNR_NO DESC
	</select>
	
	<update id="advrtsIn" parameterType="AdvrtsMgt">
		UPDATE TB_BANNER
		SET BNR_ON = 'Y'		
		WHERE BNR_NO = #{bnrNo}
	</update>
	
	<select id="adDetail" parameterType="int" resultMap="AdvrtsMgtResultSet">
		SELECT B.BNR_NO, B.BNR_NM, B.BNR_CATEGORY, B.BNR_NOTE, B.BNR_URL, B.BNR_STATUS, F.BNR_R_FILE
		FROM TB_BANNER B, TB_BANNER_FILE F
		WHERE B.BNR_NO = F.BNR_NO
		AND B.BNR_NO = #{bnrNo}
		AND B.BNR_STATUS = 'Y'
	</select>
	
	<update id="advrtsDel" parameterType="AdvrtsMgt">
		UPDATE TB_BANNER
		SET BNR_STATUS = 'N', BNR_DEL_DATE = SYSDATE
		WHERE BNR_NO = #{bnrNo}
	</update>
	
	
	
	
	
	<!-- ADVRTS INSERT LIST -->
	<select id="advrtsIListCount" parameterType="int" resultType="String">
		SELECT COUNT(*)
		FROM TB_BANNER
		WHERE BNR_ON = 'Y'
		AND BNR_STATUS = 'Y'
	</select>
	
	<select id="advrtsIList" resultMap="AdvrtsMgtResultSet">
		SELECT BNR_NO, BNR_NM, BNR_NOTE, BNR_DATE
		FROM TB_BANNER
		WHERE BNR_ON = 'Y'
		AND BNR_STATUS = 'Y'
	</select>
	
	<update id="advrtsOff" parameterType="AdvrtsMgt">
		UPDATE TB_BANNER
		SET BNR_ON = 'N'
		WHERE BNR_NO = #{bnrNo}
	</update>
	
	
	
	
	
	<!-- ADVRTS DELETE LIST -->
	<select id="advrtsDListCount" parameterType="int" resultType="String">
		SELECT COUNT(*)
		FROM TB_BANNER
		WHERE BNR_STATUS = 'N'
	</select>
	
	<select id="advrtsDList" resultMap="AdvrtsMgtResultSet">
		SELECT BNR_NO, BNR_NM, BNR_NOTE, BNR_DATE, BNR_DEL_DATE
		FROM TB_BANNER
		WHERE BNR_STATUS = 'N'
	</select>
	
	
	
	
	
	<!-- ADVRTS INSERT -->
	<insert id="adInsert" parameterType="AdvrtsMgt">
		INSERT ALL
		INTO TB_BANNER(BNR_NO, BNR_NM, BNR_CATEGORY, BNR_NOTE, BNR_URL, BNR_ON, BNR_STATUS, BNR_DATE)
		VALUES(BNR_SEQ.NEXTVAL, #{bnrNm}, #{bnrCategory}, #{bnrNote}, #{bnrUrl}, DEFAULT, DEFAULT, SYSDATE)
		
		INTO TB_BANNER_FILE(BNR_NO, BNR_O_FILE, BNR_R_FILE)
		VALUES(BNR_SEQ.CURRVAL, #{bnrOFile}, #{bnrRFile})
		SELECT * FROM DUAL
	</insert>
</mapper>
