<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMgtMapper">
	<resultMap type="MainMgt" id="mainMgtResultSet">
		<id property="iNo" column="I_NO"/>
		<result property="inqryTitle" column="INQRY_TITLE"/>
		<result property="inqrySe" column="INQRY_SE"/>
		<result property="answerAt" column="ANSWER_AT"/>
		
		<result property="rptNo" column="RPT_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="rptCatNo" column="RPT_CAT_NO"/>
		<result property="targetId" column="TARGET_ID"/>
		<result property="rptResult" column="RPT_RESULT"/>
		
		<result property="rptResn" column="RPT_RESN"/>
		
		<result property="bnrNo" column="BNR_NO"/>
		<result property="bnrNm" column="BNR_NM"/>
		<result property="bnrNote" column="BNR_NOTE"/>
		<result property="bnrStatus" column="BNR_STATUS"/>
		<result property="bnrOn" column="BNR_ON"/>	
		
		<result property="mSortNo" column="M_SORT_NO"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="rStatus" column="M_RSTATUS"/>
	</resultMap>

	<select id="mainMgtListup" resultMap="mainMgtResultSet">
		SELECT  INQRY_TITLE, INQRY_SE, I_NO
	    FROM TB_ALL_INQRY
	    WHERE ANSWER_AT = 1
       	ORDER BY I_NO DESC
       	<!-- 
       	SELECT INQRY_TITLE, INQRY_SE, I_NO
		FROM (SELECT  INQRY_TITLE, INQRY_SE, I_NO
		    FROM TB_ALL_INQRY
		    WHERE ANSWER_AT = 1
		    ORDER BY I_NO DESC)
		WHERE ROWNUM <= 2
		 -->
	</select>
	
	<select id="mainMgtListup2" resultMap="mainMgtResultSet">		
		SELECT R.M_ID, R.TARGET_ID, N.RPT_RESN
		FROM TB_REPORT R, TB_REPORT_RESN N
		WHERE R.RPT_CAT_NO = N.RPT_CAT_NO
		AND RPT_RESULT = 1
		ORDER BY R.RPT_NO DESC
		<!-- 
		SELECT *
		FROM (SELECT R.M_ID, R.TARGET_ID, N.RPT_RESN, R.RPT_NO
		    FROM TB_REPORT R, TB_REPORT_RESN N
		    WHERE R.RPT_CAT_NO = N.RPT_CAT_NO
		    AND RPT_RESULT = 1
		    ORDER BY R.RPT_NO DESC)
		WHERE ROWNUM <= 2
		 -->
	</select>
	
	<select id="mainMgtListup3" resultMap="mainMgtResultSet">
		 
		SELECT BNR_NO, BNR_NM, BNR_NOTE
		FROM TB_BANNER
		WHERE BNR_STATUS = 'Y'
		ORDER BY BNR_NO DESC
		<!--  
		SELECT BNR_NO, BNR_NM, BNR_NOTE
		FROM (SELECT BNR_NO, BNR_NM, BNR_NOTE
		    FROM TB_BANNER
		    WHERE BNR_STATUS = 'Y'
		    ORDER BY BNR_NO DESC)
		WHERE ROWNUM <= 2
		 -->
	</select>
	
	
	
	
	
	<select id="count" resultType="String">
		SELECT COUNT(*)
		FROM TB_MEMBER
		WHERE (M_SORT_NO = 1 OR M_SORT_NO = 2)
		AND M_STATUS = 'Y'		
	</select>
	
	<select id="count2" resultType="String">
		SELECT COUNT(*)
		FROM TB_RSTRNT_INFO
		WHERE R_STATUS = 1
	</select>
	
	<select id="count3" resultType="String">
		SELECT COUNT(*)
		FROM TB_REPORT
		WHERE RPT_RESULT = 1
	</select>
	
	<select id="count4" resultType="String">
		SELECT COUNT(*)
		FROM TB_SETLE
		WHERE REFND_AT = 'N'
	</select>
	
	<select id="loginC" resultType="String">
		SELECT COUNT(*)
		FROM TB_LOGIN_HISTORY
	</select>
	
	<select id="selectMngPosition" parameterType="int" resultType="String">
		SELECT MNG_POSITION
		FROM TB_MANAGER
		WHERE MNG_NO = #{ mNo }
	</select>
</mapper>