<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">
	<resultMap id="managerResultSet" type="Manager">
		<id property="mngNo" column="MNG_NO"/>
		<result property="mngId" column="MNG_ID"/>
		<result property="mngName" column="MNG_NM"/>
		<result property="mngPosition" column="MNG_POSITON"/>
		<result property="mngPhone" column="MNG_PHONE"/>
		<result property="mngStatus" column="MNG_STATUS"/>		
	</resultMap>
	
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM TB_MANAGER
		WHERE MNG_ID=#{mngId}
	</select>
	
	<!-- MANAGER LIST -->
	<select id="selectMngCount" parameterType="int" resultType="String">
		SELECT COUNT(*)
		FROM TB_MANAGER
		WHERE MNG_STATUS='Y'
	</select>
	
	<select id="selectMng" resultMap="managerResultSet">
		SELECT *
		FROM TB_MANAGER
		WHERE MNG_STATUS='Y'
		ORDER BY MNG_NO DESC
	</select>
	
</mapper>