<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">
	<resultMap id="managerResultSet" type="Manager">
		<id property="mngNo" column="MNG_NO"/>
		<result property="mngPosition" column="MNG_POSITION"/>

		<!-- MEMBER -->
		<result property="mId" column="M_ID"/>
		<result property="mName" column="M_NAME"/>
		<result property="mEnrollDate" column="M_ENROLL_DATE"/>
		<result property="mStatus" column="M_STATUS"/>				
		
		<!-- GNRL -->
		<result property="mPhone" column="M_PHONE"/>
		<result property="mEmail" column="M_EMAIL"/>
		
		<!-- PWD -->
		<result property="mPwd" column="M_PWD"/>
	</resultMap>
	
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM TB_MANAGER G, TB_MEMBER M
		WHERE M.M_ID=#{mngId}
	</select>
	
	<!-- MANAGER LIST -->
	<select id="selectMngCount" parameterType="int" resultType="String">
		SELECT COUNT(*)
		FROM TB_MANAGER G, TB_MEMBER M
		WHERE G.MNG_NO = M.M_NO
		AND M.M_STATUS='Y'
	</select>
	
	<select id="selectMng" resultMap="managerResultSet">
		SELECT G.MNG_NO, M.M_ID, M.M_NAME, G.MNG_POSITION
		FROM TB_MANAGER G, TB_MEMBER M
		WHERE G.MNG_NO = M.M_NO
		AND M.M_STATUS='Y'		
		ORDER BY MNG_NO DESC
	</select>
	
	<!-- MANAGER DELETE -->
	<update id="deleteMgt" parameterType="MemberMgt">
		UPDATE TB_MEMBER
		SET M_STATUS = 'N'
		WHERE M_NO = = #{mngNo}
	</update>
	
	
	<!-- MNG-INSERT -->
	<insert id="mngInsert" parameterType="Manager">		
		INSERT ALL
		INTO TB_MEMBER(M_NO, M_ID, M_NAME, M_ENROLL_DATE, M_SORT_NO)
		VALUES(M_SEQ.NEXTVAL, #{mId}, #{mName}, SYSDATE, 3)
		
		INTO TB_M_PASSWORD(M_NO, M_PWD)
		VALUES(M_SEQ.CURRVAL, #{mPwd})
		
		INTO TB_MANAGER(MNG_NO, MNG_POSITION)
		VALUES(M_SEQ.CURRVAL, #{mngPosition})		
		SELECT * FROM DUAL
	</insert>
	
	<!-- MNG-SEARCH -->
	<select id="mngKeySearchCount" parameterType="SearchPaging" resultType="String">
		SELECT COUNT(*)
		FROM TB_MANAGER G, TB_MEMBER M
		<where>
			G.MNG_NO = M.M_NO
			<choose>
				<when test="searchCondition == 'search_Mid'">
					AND M.M_ID LIKE '%'||#{searchValue}||'%'
				</when>
				<when test="searchCondition == 'search_Mname'">
					AND M.M_NAME LIKE '%'||#{searchValue}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<select id="mngKeySearch" parameterType="SearchPaging" resultMap="managerResultSet">
		SELECT G.MNG_NO, M.M_ID, M.M_NAME, G.MNG_POSITION
		FROM TB_MANAGER G, TB_MEMBER M
		<where>
			G.MNG_NO = M.M_NO
			<choose>
				<when test="searchCondition == 'search_Mid'">
					AND M.M_ID LIKE '%'||#{searchValue}||'%'
				</when>
				<when test="searchCondition == 'search_Mname'">
					AND M.M_NAME LIKE '%'||#{searchValue}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	

	
		
	
	<!-- SEARCH MEMBER -->
	<select id="selectLevelCount" parameterType="SearchPaging" resultType="String">
		SELECT COUNT(*)
		FROM TB_MEMBER M, TB_MANAGER G
		<where>
			G.MNG_NO = M.M_NO
			AND G.MNG_POSITION LIKE '%'||#{selectBtn}||'%'
			AND M.M_STATUS = 'Y'
		</where>
	</select>
	
	<select id="selectLevel" parameterType="SearchPaging" resultMap="managerResultSet">
		<!-- <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/> -->
		SELECT G.MNG_NO, M.M_ID, M.M_NAME, G.MNG_POSITION
		FROM TB_MANAGER G, TB_MEMBER M
		<where>
			G.MNG_NO = M.M_NO
			AND G.MNG_POSITION LIKE '%'||#{selectBtn}||'%'
			AND M.M_STATUS = 'Y'
		</where>
		ORDER BY M.M_NO DESC
	</select>
	
	
	
	
	
	<!-- UPDATE MANAGER - NAME -->
	<update id="updateMng" parameterType="Member">
		UPDATE MEMBER
		SET M_NAME=#{Name}
		WHERE M_ID=#{mId}
	</update>
	
</mapper>