/* body{
	background: #C6FFDD;  fallback for old browsers
	background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */
a{
	text-decoration:none; 	
}

.container-center{
	position: absolute;
	margin: auto 0px !important; 
	padding: 0px 15px;
}

.content{
	border: 1px solid black;
	/* div box-sizing 蹂�寃� */
	box-sizing: border-box;
	display: block;
}

/* content-txt-size */
/* basic size */
.content-txt-size{
	font-size:12px !important;
	text-align:center;
}

.content-txt-m-size{
	font-size:15px !important;
}

.more-view-btn{
	color: white !important;
	font-size:15px !important;
	
	height:25px;
	padding: 0px 10px !important;
}

.footer-bottom{
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
/************************************************************/
.title{
	color: #F4E700;
}

.txt-center{
	text-align:center;
}


/************************************************************/
/* SIDE-MENU-BAR */
.content {
	border: none;
	height: 55%
}

.content-side {
	/* �넂�씠�뒗 content�� 媛숆쾶, �룺�� �썝�븯�뒗 鍮꾩쑉濡� 議곗젙 */
/* 	height: 100%; */
/* 	width: 15%; */
	border: none;
	/* 釉붾줉�냽�꽦�쓣 媛�吏� �슂�냼�뱾�쓽 �젙�젹諛⑹떇�쓣 吏��젙 */
	/* float �냽�꽦 吏��젙 �떆 �빐�떦 �슂�냼�뒗 怨듭쨷�뿉 �쑍 �삎�떇�씠 �맖*/
	float: left;
}

.content-side-2 {
	border: none;
}



/* side-bar-title*/
.side-menu-title {
	font-weight: bold;
	text-align: center;
	margin:10px 0px;
}

.side-menu-list {
	text-color: black;
	text-align: center;
	margin: 10px 0px;
}


/************************************************************/
/* �슦痢� 蹂몃Ц �쁺�뿭 */

.content-area {
	border: none;
/* 	height: 100%; */
	width: 100%;
	float: left;
	margin: 2%;
}

.content-title {
	border: none;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

/* 蹂몃Ц txt margin 媛� */
.margin-left-15{
	margin-left: 15px;
}

.content-info {
	background-color: white;
	width: 100%;
	float: left;
}

/* �떊洹쒕━酉� 遺�遺� */
.new-review {
	width: 50%;
	height: 100%;
	float: left;
}

.newreviewbtn {
	width: 50%;
	height: 100%;
	float: right;
}

.reviewbtn {
	width: 100%;
	height: 100%;
	float: right;
}